.container{
	width: 1024px !important;
}
.nav-fixed{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
    /* border-bottom: 1px solid #666; */
    /* margin-bottom: 130px; */
}
.blank{
	height: 121px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
*{
	font-family: "微软雅黑";
}
.col-xs-8{
	padding-left: 0px;
	padding-right: 0px;
}
.col-xs-4{
	padding-left: 0px;
	padding-right: 0px;
}
.col-xs-12{
	padding-left: 0px;
	padding-right: 0px;
}
.bg-nav{
	background-color: #202020;
}
.bg-container{
	background-color: #f3f3f3;
}
.h400{
	min-height: 400px;
}
.h575{
	height: 575px;
}
.clear{
	clear:both;
	display: block;
}
.bg-footer{
	background: #e1e1e1;
}
.bg-orange{
	background: rgba(223,129,23,0.15);
}
.bg-red{
	background: rgba(223,129,23,0.15);
}
.bg-blue{
	background: blue;
}

.transition{transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out; /* Firefox 4 */-webkit-transition:all 0.2s ease-in-out; /* Safari and Chrome */-o-transition:all 0.2s ease-in-out;}
.fl{
	float: left;
}
.top {
	width: 1024px;
	margin: 20px auto;
}

.top-logo{
	background-image: url(../img/Line.png);
	background-position: center;
	background-size: cover;
	width: 220px;
	height: 155px;
	float: left;
}
.top-logo-img{
	width: 110px;
}
.top-search-cover{
	border-radius: 90px 0 0 90px;
	background-color: #f3f3f3;
	border:0px solid #fff;
	background-image: url(../img/searchs.png);
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left: 37px;
	font-size: 黑体;
	font-size: 15px;
	color: #a3a3a3;
	box-shadow: none;
}
.top-search-cover:focus{
	box-shadow: none;
}

.top-search-button{
	border-radius: 0 90px 90px 0;
	background-color: #f57c00;
	background-color: rgba(255,255,255,0.01);
	border:2px #f3f3f3 solid;
	border-left: 0px #f3f3f3 solid;
	height: 34px;
	color: #f3f3f3;
	font-size: 16px;
	line-height: 16px;
}
.top-search-button:focus{
	border:2px #f3f3f3 solid;
	border-left: 0px #f3f3f3 solid;
}
.top-search-button:hover{
	background-color: transparent;
	color: #fff; 
   	border:2px #f3f3f3 solid;
	border-left: 0px #f3f3f3 solid;
	margin-left: 0px;
}
.top-search-button:active{
	border:2px #f3f3f3 solid;
	border-left: 0px #f3f3f3 solid;
}

.top-search{
	float: left;
	width: 790px;
	height: 34px;
}
.top-search-logo{
	width: 30px;
	height: 30px;
	float: right;
	background-image: url(../img/searchw.png);
	background-size: cover;
	background-position: center;
	margin-right: 15px;
	cursor: pointer;
}
.top-search-detail{
	width: 300px;
	height: 34px;
	display: none;
	margin-right:15px;
	/*background-image: url(../img/searchDETAIL.PNG);
	background-repeat: no-repeat;
	background-size:100%;*/
	float: right;
}
.top-search-eng{
	width: 30px;
	height: 30px;
	float: right;
	background-image: url(../img/Englishw.png);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.con-info{
	float: left;
	font-size: 15px;
	margin-top: 53px;
	line-height: 24px;
	color: #414141;
}
.con-info1{
	font-family: 黑体;
	background-image: url(../img/logo.png);
	width: 249px;
	height: 92px;
	background-repeat: no-repeat;
	background-position: center;
	font-weight: bold;
	margin-left: -15px;
}
.con-info2{
	margin-left:18px;
	font-size: 15px;
	font-family: 黑体;
	width: 75px;
}
.con-info3{
	margin-left: 378px;
	line-height: 23px;
	width: 285px;
	height: 92px;
	padding-left: 20px;
	border-left: rgb(204,204,204) 1px solid;
}
.con-info4{
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	margin-top:40px;
	padding-bottom: 40px;
	line-height: 20px;
	width: 1024px;
}
.con-info4 span{
	line-height: 45px;
}
.top-nav{
	float: left;
	margin-top: 0px;
	margin-left: 30px;
	width: 773px;
}
.top-nav1{
	margin-top: 5px;
}
.navi{
	font-family: "STXihei";
}
.navi>li{
	display: inline-block;
	margin:0 10px;
}
.navi>li>a{
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
    font-family: "STXihei";
   	color: #f4f4f4;
    border-bottom: 2px solid transparent;
    transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out; /* Firefox 4 */
    -webkit-transition:all 0.15s ease-in-out; /* Safari and Chrome */
    -o-transition:all 0.15s ease-in-out;
}
.navi > li > a:hover,
.navi > li > a:focus {
  /*background-color: transparent;
  border-bottom-color: #333;
  border-bottom-color: rgba(255,255,255,.75);*/
  color: rgb(238,223,46);
  background-color: transparent;
}
.navi > .active > a,
.navi > .active > a:hover,
.navi > .active > a:focus {
   /*	color: #fff;
   	border-bottom-color: #fff;
	font-weight: bold;*/
	color: rgb(238,223,46);
}
.title{
	float: left;
	width: 100%;
	
	margin-top: 38px;
	border-bottom: 2px solid #040404;
}
.input-group{
	width: 300px;
}
.title-name-past{
	font-size: 72px;
	color: #0e0e0e;
	position: relative;
	line-height: 72px;
	font-family:Tahoma;
}
.scrolltop{
	margin:5px auto 0px auto;
}
.blackshade{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
}
.container-fluid{
	padding:0px;
}