body{
	background-image:url(../img/pattern.jpg);
}
#backup{
	position:fixed;
	cursor:pointer;
	bottom:15px;
	right:-40px;
	width:90px;
	height:90px;
}
#lay{
	width:1366px;
	height:200px;
	background-image:url(../img/snow1.png);
}
#header{
	width:100%;
	height:176px;
}
#nav{
	margin-top:0px;
	background-image:url(../img/nav.jpg);
	background-repeat:no-repeat;
	height:103px;
	z-index:999;
}
#nav ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
#nav ul li{
	width:125px;
	margin:0px;
	padding:0px;
	float:left;
}
#nav ul li ul{
	display:none;
	top:100px;
}
#nav ul li a{
	text-decoration:none;
	display:block;
	padding:5px;
	background-image:url(../img/nav2.jpg);
	color:#FFF;
	font-size:21px;
	font-family:"华文行楷";
	text-align:center;
	border-radius:3px;

}
#nav a:hover{
	background-image:url(../img/nav1.jpg);
	font-size:22px;
}
#nav li:hover ul{
	display:block;
}
#nav1{
	position:absolute;
	left:20px;
	top:284px;
	padding-top:33px;
	padding-left:5px;
	padding-right:15px;
	width:auto;
	height:670px;
	border-right:thin solid #CCC;
}
#nav1 ul{
	list-style:none;
}
#nav1 ul li{
	height:35px;
	margin-top:5px;
	width:75px;
	
}
#nav1 ul li a{
	text-decoration:none;
	font-size:17px;
	font-family:"宋体";
	display:block;
	background-image:url(../img/li.png);
	width:77px;
	height:35px;
	color:#909090;
	font-family:"楷体";
		position:fixed;
}

#nav1 a:link{
	color:#909090;
}
#nav1 a:hover{
	color:#000;
	font-weight:bold;
	background-image:url(../img/li1.png);
}
body{
	background-image:url(../img/pattern.jpg);
}
#bread{
	position:absolute;
	width:100%;
	height:50px;
	top:250px;
	color:#909090;
	font-size:17px;
	font-family:"黑体";
	z-index:-100;
}
#bread #breadtext{
	padding-left:70px;
}
#foot{
	padding-top:5px;
	padding-bottom:3px;
	position:fixed;
	width: 100%;
	height: 23px;
	bottom:0px;
	letter-spacing:2px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	background-color:rgba(102,102,102,.5);
	color:#FFF;
	z-index:9999;
}
