@charset "utf-8";
#model{
	border: #E4E4E4 dashed 8px;
	width: 81%;
	position: absolute;
	left: 177px;
	top: 307px;
	overflow: hidden;
	border-radius: 25px;
	padding: 5px;
	z-index:-999;
}
#inmodel{
	width:5000%;
	float:left;
}
#model1{
	float:left;
}
#model2{
	float:left;
}
img.pic{
	width:700px;
	height:460px;
	border:#fff 10px solid;
	margin:2px 3px;
	transition:all ease-in-out 0.3s;
	-webkit-transition:all ease-in-out 0.3s;
	-moz-transition:all ease-in-out 0.3s;
	overflow:hidden;
	
	-webkit-box-shadow:3px 3px 2px #CCC;
	-moz-box-shadow:3px 3px 2px #ccc;
	box-shadow:3px 3px 2px #ccc;
	
}
img.pic:not(:hover){
	opacity:0.5;
}
img.pic:hover{
	-webkit-box-shadow:5px 5px 6px #999;
	-moz-box-shadow:5px 5px 6px #999;
	box-shadow:5px 5px 6px #999;
}
/* CSS Document */

