@charset "utf-8";
#wind{
	position:absolute;
	left:400px;
	top:350px;
}
.wind1{
	border:1px #000 solid;
	background-color:#CCC;
	opacity:0.6;
	width:250px;
	float:left;
	height:510px;
	margin-left:-190px;
	line-height:25px;
	word-spacing:3px;
	font-family:"微软雅黑";
	padding-right:18px;
	padding-left:25px;
	font-size:18px;
	border: 0px solid #CCC;
	box-shadow:0px 8px 15px 2px gray;
	-webkit-box-shadow:0px 8px 15px 2px gray;
	-moz-box-shadow:0px 8px 15px 2px gray;
	
	-webkit-transform:perspective(900px) rotateY(60deg);
	-moz-transform:perspective(900px) rotateY(60deg);
	transform:perspective(900px) rotateY(60deg);
		
	-webkit-transition:all ease-in-out 0.7s;
	-moz-transition:all ease-in-out 0.7s;
	transition:all ease-in-out 0.7s;
}
.wind1:hover {
	-webkit-transform: perspective(0px) rotateY(0deg);
	-moz-transform: perspective(0px) rotateY(0deg);
	transform: perspective(0px) rotateY(0deg);
	margin:0px 150px 0px 0px;
}
.roadpic{
	width:100px;
	height:100px;
	opacity:0.8;
}
